<html>
    <body>
        <h1>
            ERROR 404 - PÁGINA NÃO ENCONTRADA
        </h1>
        <p>
            Página não encontrada, prezado usuário talvez você tenha digitado a url errada.
        </p>
    </body>
</html>