<html>
    <body>
        <h1>
            ERROR 500 - ERRO INTERNO NO SERVIDOR
        </h1>
        <p>
            Ocorreu um erro e nossa equipe já está resolvendo. Pedimos desculpas e logo o sistema estará funcionando.
        </p>
    </body>
</html>